//- footer.pug


footer#apropos
  h1 Apropos
  article
    h2 Description
    p A small Proof-of-Concept for electron-app and snap-app with xstate and fabricjs.

  article
    h2 Around PiPaPo
    ol(type=1)
      li
        a(href='https://github.com/charlyoleg/pipapo') github
      li
        a(href='https://github.com/charlyoleg/pipapo/blob/master/README.rst') docs
      li
        a(href='https://www.psychopo.com') pipapo web-app

//  article
//    h2 Install the PWA PiPaPo
//    button.pwa_button#pwa_remove(type="button" disabled=true) Remove Pipapo
//    button.pwa_button#pwa_install(type="button" disabled=true) Install Pipapo
