//- footer.pug


footer#apropos
  h1 Apropos
  article
    h2 Description
    p A small Proof-of-Concept for electron-app and snap-app with xstate and fabricjs.

  article
    h2 Around PiPaPo
    ol(type=1)
      li
        a(href='https://github.com/charlyoleg/pipapo') github
      li
        a(href='https://github.com/charlyoleg/pipapo/README.rst') docs
      li
        a(href='https://www.psychopo.com') pipapo web-app

