//- index.pug

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title PiPaPo
    meta(name='description', content='Proof-of-Concept for electron-app and snap-app with xstate and fabricjs')
    meta(name='author', content='Charlyoleg')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //base(href='./')
    link(rel='stylesheet', href='css/pipapo_style.css?v=1.0')
    link(rel='manifest', href='pipapo.webmanifest')
    link(rel='icon', type='image/svg+xml', href='img/pipapo_favicon.svg')
    link(rel='icon', type='image/png', sizes="64x64", href='img/pipapo_favicon_64x64.png')
    link(rel='icon', type='image/png', sizes="256x256", href='img/pipapo_favicon_256x256.png')
    script(type="text/javascript" src="libjs/stimulus.umd.js")
  body
    header
      img(src='img/pipapo_logo.png')
      h1 PiPaPo App

    main
      .dummy Once upon a time ...

      section.island(data-controller="tourniquet")
        button(type="button" data-action!="click->tourniquet#pressNext") Next
        .gauge(data-tourniquet-target="statusRo")

    include ../pug_lib/footer.pug

    // The core logic
    script(type='module', src='js/home_app.js?v=1.0')
    //script(type="text/javascript" src='js/home_app.js?v=1.0')

    // The service-worker
    // not implemented. PWA, electron or simple html page?

